@charset "UTF-8";

/*
    Em HTML é id     = em CSS é #
    Em HTML é class  = em CSS é .
*/

body{
    background-attachment: fixed;
    background-image: linear-gradient(to right, #55AFF2, #7CBEF2, #5180E8);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1{
    color: #43ca96;
}

h2{
    color: #4be4d4;
}

h1#principal {
    text-align: center;
    background-color: #58C5DB;
    color: white;
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7c6a48b7;
    width: 750px;
    padding: 10px;
    margin: auto;
}

.basico {
    background-color: #90F26F;
    color: white;
}

.intermediario {
    background-color: #babd00d8;
    color: white;
}

.avancado {
    background-color: #F53C31;
    color: white;
}

.destaque {
    background-color: #7CBEF2;
    color: white;
}