div.conteiner {
    background-color: rgb(101, 255, 255);
    display: flex;
    flex-flow: row nowrap;
}

div.item {
    background-color: rgb(67, 0, 0);
    color: white;
    text-align: center;
    flex-basis: 150px;
}