div.conteiner {
    background-color: rgb(101, 255, 255);
    display: flex;
    flex-flow: row nowrap;
}

div {
    background-color: rgb(67, 0, 0);
    color: white;
    text-align: center;
}

div.item {
    flex-basis: 80px;
}

.gr {
    background-color: rgb(255, 244, 127);
    flex-grow: 1;
    color: black;
}